<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %}{% endblock %} - Login Form</title>
        <style>
            article#wrapper { width: 800px; margin: 0 auto; }
            .error { font-style: italic; color: red; font-size: 11px; }
        </style>
    </head>
    <body>
        <article id="wrapper">
            <h1>Login Form</h1>
            <article id="content">
                {% block content %}{% endblock %}
            </article>
        </article>
    </body>
</html>
