{% extends 'general/main.twig' %}

{% block title %}Overview{% endblock %}

{% block content %}
    <h2>Overview</h2>
    <section style="height:50px">
        <p style="float:left;"><a href="newAccount.php">Create a new account</a></p>
        <p style="float:right;"><a href="logout.php">Log {{ username }} Out</a></p>
    </section>

    <section style="margin-top:20px;width:400px;margin:0 auto;">
        <h3>Users</h3>
        {% for user in users %}
            <div>{{ user.getName }}</div>
        {% endfor %}
    </section>
{% endblock%}